body{
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#myform{
    border:1px solid purple;
    padding:20px;
    border-radius: 5px;
    width:300px;
    margin:auto;
    background-color: bisque;
}
#hello{
    text-align: center;
    color:blueviolet

}
label{
    display:block;
    font-weight: bolder;

}
input,textarea{
    width:100%;
    border:1px solid plum;
    border-radius: 2px;
   
}
input[type="submit"]{
    background-color: purple;
    border:none;
    color:white;
    cursor:pointer;
}
input[type="submit"]:hover{
    background-color:blue;
}